/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Grotesk";
  src: url("https://res.cloudinary.com/dl1vj7yr9/raw/upload/v1668506662/Fonts/NeufileGrotesk-RegularExtended.1238bf0_xsluyd.woff2");
  font-display: swap;
  font-weight: 400;
}

@layer components {
  body {
    @apply font-grotesk overflow-x-hidden;
  }
}


/* hide the scoll but keep the scroll functioning */
.hide-scroll {
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
.hide-scroll::-webkit-scrollbar { 
  width: 0;
  height: 0;
}
