/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Grotesk";
    src: url("https://apeunit.com/_nuxt/fonts/NeufileGrotesk-RegularExtended.1238bf0.woff2");
    font-display: swap;
    font-weight: 400;
}

@layer components{
    body{
        @apply font-grotesk
    }
}
